jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install and Build
        # Set the context to the actual project folder
        working-directory: ./qube-forensic-console/console 
        run: |
          npm install
          npm run build
