name: Frontend Build

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "agent_starter_pack/frontends/adk_live_react/frontend/**"
      - ".github/workflows/webpack.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "agent_starter_pack/frontends/adk_live_react/frontend/**"
      - ".github/workflows/webpack.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: agent_starter_pack/frontends/adk_live_react/frontend/package-lock.json

      - name: Install dependencies
        working-directory: ./agent_starter_pack/frontends/adk_live_react/frontend
        run: npm ci

      - name: Build
        working-directory: ./agent_starter_pack/frontends/adk_live_react/frontend
        run: npm run build
